# Servidor
PORT=3000

# Base de Datos (PostgreSQL)
DATABASE_URL=postgresql://user:password@host:port/database

# JWT
JWT_SECRET=cambia_esto_por_un_secret_seguro_y_largo

# OPEN AI
OPENAI_API_KEY=Tu_Clave_De_Open_AI

# Frontend API URL (cambiar en producción)
VITE_API_URL=http://localhost:3000
